name: Reusable Workflow

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string

jobs:
  show-message:
    runs-on: ubuntu-latest
    steps:
      - name: Print the message
        run: echo "Message: ${{ inputs.message }}"
